body {
  width: 400px;
  height: 500px;
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "tnum"; /* Ensures tabular numbers if available */
}
#updatedTime {
  font-size: 12px;
  color: #666666;
}
#container {
  margin: 16px;
}
.stockLine {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#stocksTable {
  margin-top: 10px;
  width: 100%;
  overflow-y: auto;
}
.logoAndNameAndTicker {
  display: flex;
}
.logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #eee;
  margin-right: 5px;
}
.nameAndTicker {
}
.name {
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: 600;
}
.ticker {
  font-size: 12px;
  color: #888888;
}

.priceAndChange {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.priceAndCurrency {
  display: flex;
  align-items: end;
}
.price {
  font-size: 14px;
  font-weight: 700;
}
.currency {
  margin-left: 1px;
  font-size: 10px;
}

.changePriceAndPercent {
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: flex-end;
}
.changePrice {
  margin-right: 5px;
}
.changePercent {
}
